body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  padding: 40px;
}

.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.15);
}

.left-side {
  width: 370px;
  background-color: #60705f;
  color: #fff;
}

.right-side {
  width: 830px;
  padding-left: 80px;
  padding-right: 200px;

}

/* #left-side */
.photo {
  
  
  width: 370px;
  height: 300px;
  background-image: url("/images/profile-photo.JPG") ; 

  background-repeat: no-repeat;
    background-size: contain;


}

.contacts,
.skills {
  margin-bottom: 52px;
}


.contacts,
.skills {
  padding-left: 40px;
}

.contacts-title,
.skills-title {
  font-size: 22px;
  line-height: 24px;
  color: #ff6b08;
  
}

.contacts-list {
  padding-left: 0;
  list-style: none;
}

.contacts-item {
  font-size: 14px;
  line-height: 24px;
  
}

.contacts-link {
  color: #fff;
  opacity: 0.6;
  margin-left: 10px;
}

.contacts-link:hover {
  opacity: 1;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-item {
  font-size: 14px;
  color: #fff;
}

.skills-item::before {
  margin-right: 8px;
  content: "\2022";
  color: #ff6b08;
  font-size: 18px;
}

/* #right-side */

.bio,
.projects {
  margin-bottom: 48px;
}

.jobs,
.education {
  margin-bottom: 54px;
}

.jobs-title {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 24px;

  margin-bottom: 20px;
}

.jobs-time,
.education-time {
  color: #828282;
  font-size: 12px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 10px;
}

.experience-item {
  color: #595959;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 7px;
}

/* #bio */
.bio-title {
  margin-bottom: 0;
  font-size: 45px;
  line-height: 1.978;
  font-weight: bold;
}

.bio-title,
.bio-occupation {
  color: #595959;
}

.bio-occupation {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: bold;
  color: #479135;
}

.bio-occupation,
.bio-about {
  font-size: 14px;
  line-height: 1.714;
}

.bio-about {
  color: #595959;
  margin-bottom: 0;
}



/* #jobs */

.jobs-title,
.education-title {
  color: #595959;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.jobs-occupation,
.education-degree {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.experience {
  margin-top: 0;
  margin-bottom: 28px;
  padding-left: 14px;
}

.widget {
  padding-left: 40px;
}
.widget-link {
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 20px;
  padding-left: 43px;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;

  color: #fff;
  background-color: #ff6b08;
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 8, 0.588);
}

.widget-link:hover {
  box-shadow: 0px 8px 23px 0px #ff6b0896;
}

.widget-link:active {
  box-shadow: inset 0px 2px 5px 0px #ff6b0896;
}
/* #common */

.accent {
  color: #ff6b08;
}

/* animation */
.bottom-container {
  background-color: #60705f;
  margin-left: 65px;
  
  width: 1200px;
  text-align: center;
  padding-top: 20px;
  border-top: solid #97a394;
}
.footer-link {
  color: #97a394;
}

.copyright {
  color: #97a394;
  font-size: 0.75rem;
  padding: 20px 0;
}
